.article_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  border-bottom: 1px black solid;
}

.article_box {
  display: flex;
  /* border: 3px yellow solid; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.wine_image {
  width: 250px;
  margin: 20px;
  height: 160px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* .wine_image {
  width: 250px;
  margin: 20px;
  padding: 15px;
  height: 250px;
} */
.wine_info {
  margin: 20px;
}
.article_findmore {
  margin: 10px;
}
