.article_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  border-bottom: 1px rgba(98, 97, 97, 0.766) solid;
  cursor: pointer;
}

.article_box {
  display: flex;
  /* border: 3px yellow solid; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.wine_image {
  width: 160px;
  margin: 20px;
  height: 160px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border: 1px solid #cda581;
}
.wine_info {
  margin: 0.5rem;
  line-height: 2rem;
  /* color: rgb(248, 184, 195); */
}
.article_findmore {
  margin: 10px;
}
.wineName {
  font-size: 2rem;
  margin-bottom: 1rem;
  /* border: 1px rebeccapurple solid; */
  width: 400px;
}
.typeAndPrice {
  display: flex;
}
