.footer_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(23, 23, 23, 0.581);
  padding: 25px 50px 20px 50px;
  align-items: center;
  color: white;
}
.contactus {
  margin: 0px 50px;
}
.git {
  display: flex;
  text-decoration: none;
}

.footer_rights {
  align-self: flex-end;
}
