.footer_container {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 25px 50px 20px 50px;
  align-items: center;
}
.contactus {
  margin: 0px 50px;
}
.git {
  display: flex;
  text-decoration: none;
  color: black;
}

.footer_rights {
  align-self: flex-end;
}
