html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right bottom,
    #bb1c76,
    #ab2c88,
    #973997,
    #7e45a3,
    #604eaa,
    #4a5cb4,
    #2f69ba,
    #0074bd,
    #0088c3,
    #0099bc,
    #00a8ae,
    #21b59b
  );
}
