@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

div {
  color: transparent;
  background: linear-gradient(
    to top,
    #f6dcce,
    #eecebb,
    #e6c1a8,
    #ddb496,
    #d4a783,
    #cea17a,
    #c89a70,
    #c29467,
    #bf9165,
    #bd8f62,
    #ba8c60,
    #b88a5e
  );
  -webkit-background-clip: text;
}
