
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&display=swap");
.mainpage_container {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(
    to bottom,
    #c3aadf,
    #d2b9e6,
    #e1c9ee,
    #eed9f6,
    #fbeaff
  );
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px purple solid;
  width: 100%;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro_message {
  display: flex;

  border: 5px aqua solid;

  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_content {
  border: 5px green solid;
  font-size: 25px;
  animation: img_show 6s;
  font-family: "IBM Plex Sans KR", sans-serif;
  margin-top: 200px;
}
.logo_effect {
  display: flex;
  margin-left: 950px;
  margin-bottom: 300px;
  justify-content: center;
  align-items: center;
  animation-delay: 3s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 5px green solid;
}
.right_image {
  display: flex;
  width: 50%;
  animation: img_show 6s;
  justify-content: center;
  align-items: center;
  border: 5px green solid;
}

.intro_container {
  display: flex;
  height: 900px;
  width: 100%;
  border: 5px red solid;
}
.learn_container {
  display: flex;
  height: 900px;
  width: 66%;
  border: 5px red solid;
}
.learn_intro {
  padding: 20px;
  display: flex;
  width: 50%;
  height: 100%;
  border: 5px gold solid;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-align: center;
  font-family: "Jua", sans-serif;
}
.learn_image {
  width: 50%;
  height: 100%;
  border: 5px purple solid;
}

.box {
  font-size: 15vh;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.fade_in_box {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated {
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(5px);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(5px);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes goToPosition {
  50% {
    transform: translateX(-100px), scale(0.75);
  }
  100% {
    -webkit-transform: translateX(-500px) scale(0.5);
  }
}

@keyframes goToPosition {
  50% {
    transform: translateX(-100px), scale(0.75);
  }
  100% {
    transform: translate(-600px, -300px) scale(0.5);
  }
}

.goToPosition {
  -webkit-animation-name: goToPosition;
  animation-name: goToPosition;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes img_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes img_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes img_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes img_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------- model CSS --------*/
body.active_modal {
  overflow-y: hidden;
}

.btn_modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  background-color: rgb(188, 131, 235);
  border-color: lightgrey;
  color: white;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: hidden;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal_contents {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  align-content: center;
}

.close_modal {
  position: absolute;
  top: 1px;
  right: 10px;
  padding: 5px 7px;
  cursor: pointer;
}
