@import url('https://fonts.googleapis.com/css2?family=Festive&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 5px purple solid; */
  width: 100%;
}
.intro_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
  /* border: 5px rgb(0, 128, 43) solid; */
}

.intro_message {
  display: flex;
  flex-direction: column;
  /* border: 5px aqua solid; */
  height: 700px;
  width: 100%;
  background: url('https://i.pinimg.com/originals/37/b8/c1/37b8c174aa10e05e209c4e82f46193cb.gif')
    no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.separator {
  /* border: 5px rgb(212, 6, 231) solid; */
  height: 15%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 5px rgb(212, 6, 231) solid; */
  height: 70%;
  width: 50%;
}

.intro_title {
  /* border: 5px rgb(231, 70, 6) solid; */
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-align: center;
  font-weight: 300;
  font-family: 'Zen Maru Gothic', sans-serif;
  color: transparent;
  background: linear-gradient(
    to top,
    #f6dcce,
    #eecebb,
    #e6c1a8,
    #ddb496,
    #d4a783,
    #cea17a,
    #c89a70,
    #c29467,
    #bf9165,
    #bd8f62,
    #ba8c60,
    #b88a5e
  );
  -webkit-background-clip: text;
}

.intro_content {
  /* border: 5px green solid; */
  margin-top: 2%;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: transparent;
  background: linear-gradient(
    to top,
    #f6dcce,
    #eecebb,
    #e6c1a8,
    #ddb496,
    #d4a783,
    #cea17a,
    #c89a70,
    #c29467,
    #bf9165,
    #bd8f62,
    #ba8c60,
    #b88a5e
  );
  -webkit-background-clip: text;
}

.intro_back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(24, 24, 24, 0.911);
  padding: 3% 2% 5% 2%;
  /* border: 5px solid yellow; */
  width: 85%;
  height: 70%;
}

.intro_container {
  display: flex;
  height: 800px;
  width: 100%;
  /* border: 5px red solid; */
}

.intro_btns {
  /* border: 5px rgb(0, 238, 255) solid; */
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 10%;
  margin-top: 3%;
}

.btn_mall {
  width: 40%;
  background-color: #e6c1a8;
  color: black;
  border-radius: 2px;
  border: 1px double #b88a5e;
}

.btn_mall:hover {
  width: 40%;
  background-color: #cda581;
  color: white;
}

.btn_test {
  width: 40%;
  background-color: #e6c1a8;
  color: black;
  border-radius: 2px;
  border: 1px double #b88a5e;
}

.btn_test:hover {
  width: 40%;
  color: white;
  background-color: #cda581;
}

/* =========== learn CSS ============== */
.learn_container {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;
  margin-top: 8px;
  /* border: 5px red solid; */
  background: rgba(73, 73, 73, 0.63);
  border-radius: 5px;
}

.learn_head {
  display: flex;
  padding: 20px 10px 10px 10px;
  margin: 50px 0px;
  justify-content: center;
  font-weight: 300;
  font-family: 'IBM Plex Sans KR', sans-serif;
  /* font-family: 'Zen Maru Gothic', sans-serif; */
  font-size: 35px;
  height: 50px;
  color: white;
}

.card_head {
  width: 97%;
  margin-top: 7%;
  height: 70px;
  /* border: 5px gold solid; */
  text-align: center;
}

.card_height {
  max-height: 460px;
  max-width: 260px;
  margin-top: 25px;
  z-index: 1;
  border: 2px #cda581 solid;
  background-color: white;
  border-radius: 5px;
}

.image_height {
  width: 250px;
  height: 350px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-bottom: 1.2px solid rgba(231, 216, 77, 0.445);
  border-top: 1.2px solid rgba(231, 216, 77, 0.445);
}

.bord {
  margin-top: -480px;
  height: 538px;
  width: 450px;
  position: absolute;
  z-index: 2;
  margin-left: -100px;
}

.card_height:hover {
  cursor: pointer;
}

/* 사이트 소개 글 CSS */

.testing_container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 80vh;
  width: 100%;
  margin: 3% 0px;
  /* border: 5px blue solid; */
  border-radius: 5px;
}

.info_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  border-bottom: 1px #cda581 solid;
  /* border: 5px yellow solid; */
  /* background: rgba(73, 73, 73, 0.63); */
  justify-content: center;
}

.info_title {
  display: flex;
  padding: 3%;
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: white;
  margin-left: 3%;
  /* height: 7%; */
  /* border: 1px green solid; */
  font-size: 2.2rem;
}

.testing_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-top: 5%;
  background: url('/images/testpage.gif') no-repeat center center;
  background-size: contain;
  width: 44%;
  height: 70%;
  border: 1px solid rgb(240, 228, 228);
}
.testing_intro2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  /* margin-top: 5%; */
  background: url('/images/testpage2.gif') no-repeat center center;
  background-size: contain;
  width: 44%;
  height: 70%;
  border: 1px solid rgb(240, 228, 228);
}
.testing_intro3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-top: 5%;
  background: url('/images/testpage3.gif') no-repeat center center;
  background-size: contain;
  width: 44%;
  height: 70%;
  border: 1px solid rgb(240, 228, 228);
}
.testing_intro4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  background: url('/images/testpage4.gif') no-repeat center center;
  background-size: contain;
  width: 44%;
  height: 70%;
  border: 1px solid rgb(240, 228, 228);
}

.testing_p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: white;
  border-radius: 3px;
  line-height: 3rem;
}
.whiteback {
  width: 500px;
  height: 500px;
  background-color: white;
  position: relative;
  left: 10px;
}

.testing_contain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cda481ee;
  z-index: 10;
  padding: 5% 0;
  box-shadow: -15px 13px rgba(0, 128, 128, 0.594);
  /* border: 5px solid lightskyblue; */
  width: 40%;
  height: 50%;
  margin: 2% 5% 5% 8%;
}

.testing_containtwo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cda481ee;
  z-index: 10;
  box-shadow: -15px 13px rgba(0, 128, 128, 0.594);
  /* border: 5px solid lightskyblue; */
  width: 40%;
  height: 50%;
  /* 겹치게 할때 여기 마진 레프트 */
  margin: 6% 0 0 -43%;
  /* margin: 5% 55% 5% 8%; */
}

.testing_ptwo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 90%;
  height: 50%;
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: transparent;
  background: linear-gradient(
    to top,
    #f6dcce,
    #eecebb,
    #e6c1a8,
    #ddb496,
    #d4a783,
    #cea17a,
    #c89a70,
    #c29467,
    #bf9165,
    #bd8f62,
    #ba8c60,
    #b88a5e
  );
  -webkit-background-clip: text;
  /* border: 5px solid white; */
}

.testing_introtwo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* border: 5px solid rgb(16, 197, 70); */
  background-size: contain;
  height: 100%;
}

.info_containertwo {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  /* border: 5px rgb(245, 239, 239) solid; */
}
