@import url("https://fonts.googleapis.com/css2?family=Festive&family=Raleway&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 57px;
}

.top_container {
  display: flex;
  margin: 40px 20px;
  font-family: "Raleway", sans-serif !important ;
  color: white;
  justify-content: space-between;
}
.footer_container {
  width: 100%;
  height: 200px;
  background-color: darkgrey;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}
.footer_contactus {
  padding: 100px;
}

.mainpage_container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    #c3aadf,
    #d2b9e6,
    #e1c9ee,
    #eed9f6,
    #fbeaff
  );
}

.logo_container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  animation-delay: 3s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.box {
  font-size: 15vh;
  font-family: "Raleway", sans-serif;
  color: white;
}

.fade_in_box {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated {
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(5px);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(5px);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes goToPosition {
  50% {
    transform: translateX(-100px), scale(0.75);
  }
  100% {
    -webkit-transform: translateX(-500px) scale(0.3);
  }
}

@keyframes goToPosition {
  50% {
    transform: translateX(-100px), scale(0.75);
  }
  100% {
    transform: translateX(-500px) scale(0.3);
  }
}

.goToPosition {
  -webkit-animation-name: goToPosition;
  animation-name: goToPosition;
}

.right_image {
  position: absolute;
  right: 300px;
  top: 200px;
  height: 400px;
  width: 600px;
  background-image: url(../public/images/Background3.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  animation: img_show 6s;
}

@keyframes img_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes img_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes img_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes img_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
