.mall_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px green solid; */
}
.searchAndWineList_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 5rem;
}
.top_banner {
  margin: 15px 10px 0px 20px;
}

.mall_top {
  /* border: 1px red solid; */
  display: flex;
  align-items: center;
  margin: 40px 0px 0px 0px;
  width: 97%;
  justify-content: center;
}
.search_bar {
  /* min-width: 60%; */
  height: 40px;
  margin: 0px 20px;
  width: 100%;
  background-color: white;
  border: 2px solid #cda581;

  padding: 1rem;
}
.search_bar:focus {
  outline: none;
  /* border: #cda581 1px solid; */
}
.search_image {
  width: 50px;
}

.main_box {
  display: flex;
  /* min-width: 700px; */
  width: 100%;
  padding: 10px;
  margin: 0 8rem;
  background: white;
  /* background: transparent;  */
  /* opacity: 0.9; */
}
.mall_content_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px violet solid; */
}

.filter_box {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-left: 0.1px grey dotted;
  /* border: 6px green solid; */
  padding-right: 5rem;
}
.filter_top_content {
  min-height: 150px;
  min-width: 300px;
  width: 90%;
  margin: 5rem 0.1rem 0.1rem 0.1rem;
  padding: 0.2rem;
  border-bottom: 2px grey solid;
}
.filter_content {
  min-height: 150px;
  min-width: 300px;
  width: 90%;
  margin: 0.1rem;
  padding: 0.2rem;
}

.filter_top {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.filter_title {
  font-size: 1.2rem;
  font-weight: bolder;
}
.filter_type {
  display: flex;
  margin: 30px;
  flex-wrap: wrap;
}

.filter_icon {
  color: rgb(141, 12, 44);
}

.totalfilter_button {
  background: white;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 3px;
  width: 140px;
  border: none;
}

.filter_button {
  border: 1px gray solid;
  /* background: linear-gradient(270deg, #cda581, rgba(146, 111, 52, 0.8)); */
  margin: 3px;
  padding: 5px 20px;
  border-radius: 5px;
  width: 110px;
}
.filter_button:hover {
  color: #fff;
  border: 1px gray solid;
  background-color: #cda581;
}

.bottom_border {
  border-bottom: 1px rgb(127, 127, 127) solid;
}
.text_and_sort {
  height: 100px;
  display: flex;
  /* border: 3px yellow solid; */
  padding: 10px;
  align-items: center;
  width: 95%;
  margin: 0px 15px 15px 15px;
  border-bottom: 2px solid grey;
  justify-content: space-between;
}
.text_big {
  font-size: 2rem;
}
.text.sort {
  padding: 10px;
  margin: 20px;
}

.filter_taste {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.filter_price {
  display: flex;
  justify-content: center;
  margin: 50px;
}
@media only screen and (max-width: 760px) {
  .main_box {
    flex-direction: column-reverse;
  }
  .filter_box {
    display: none;
  }
  .top_banner {
    display: none;
  }
}

/* // */
.page {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 20px;
}
.page > ul > li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.page > ul {
  list-style: none;
  padding: 0;
}

.page > ul > li:first-child {
  border-radius: 5px 0 0 5px;
}
.page > ul > li:last-child {
  border-radius: 0 5px 5px 0;
}
.page > ul > li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}
.page > ul > li:active a {
  color: white;
}
.page > ul > li:active {
  background-color: #337ab7;
}
