.progress_container {
  display: flex;
  position: relative;
  width: 100%;
  top: -20%;
  border: none;
}

.carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px purple solid; */
  width: 100%;
  height: 100%;
  background: url('https://c1.wallpaperflare.com/preview/350/209/129/botti-ceiling-lights-cellar.jpg')
    no-repeat center center;
  background-size: 100%;
  flex-direction: column;
}

.carousel_wrapper {
  display: flex;
  width: 66%;
  position: relative;
  /* border: 5px rgb(233, 223, 233) solid; */
  max-height: 600px;
}

.carousel_content_wrapper {
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  /* border: 5px rgb(42, 13, 209) solid; */
}

.carousel_content {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel_content::-webkit-scrollbar {
  display: none;
}

.carousel_content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.right_arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #efefef;
  border: 2px solid #bb1e1f;
  margin: 0px 5%;
}

.left_arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #efefef;
  border: 2px solid #bb1e1f;
  margin: 0px 5%;
}
.left_arrow {
  left: 24px;
}

.right_arrow {
  right: 24px;
}

.questions {
  height: 500px;
}

.stars {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10%;
  justify-content: space-evenly;
  /* border: 5px solid palevioletred; */
  margin-top: 50px;
}

.winebtn {
  border: none;
}

.winebtn :hover {
  /* border: 2px solid purple; */
  transform: rotate(25deg);
  /* filter: invert(80%); */
  filter: contrast(300%);
}

.ratetext {
  display: flex;
  margin: 0px 12%;
  justify-content: space-between;
  margin-bottom: 9%;
  color: burlywood;
  /* border: 5px solid rgb(36, 224, 61); */
}

.stars_container {
  border: 3px solid #bb1e1f;
  border-radius: 5px;
  margin: 5% 15%;
  background-color: #efefef;
  height: fit-content;
}

.question_container {
  display: flex;
  justify-content: center;
  margin: 5% 0px;
  color: burlywood;
}
