.upload_container {
  display: flex;
  justify-content: center;
}

.upload_text {
  display: flex;
  width: 500px;
  height: 200px;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
}

.descrip {
  width: 500px;
}

.contain {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.keepimg {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 300px;
  margin-bottom: 10px;
}

.filebtn {
  display: flex;
}

.tasteStructure_progressBar {
  width: 100%;
}

.wine_name {
  width: 300px;
  margin-left: 100px;
  margin-top: 10px;
}
/* ============================ */

.taste_bar {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
}

.taste_bar::-webkit-slider-runnable-track {
  width: calc(100% - 10px);
  height: 8px;
  background: linear-gradient(to right, rgb(240, 195, 205), #58181f);

  border: none;
  border-radius: 20px;
}

.taste_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ba1628;
  margin-top: -4px;
  cursor: pointer;
}

.taste_bar:focus {
  outline: none;
}

.taste_bar:focus::-webkit-slider-runnable-track {
  background: #58181f;
  width: calc(100% - 10px);
}
