NEXT_PUBLIC_API_URL = http://localhost:4000
NEXT_PUBLIC_API_URL = http://ec2-3-34-136-32.ap-northeast-2.compute.amazonaws.com:8080
NEXT_PUBLIC_CLIENT_URL = http://mywinefindbucket.s3-website.ap-northeast-2.amazonaws.com
NEXT_PUBLIC_CLIENT_URL = http://localhost:3000
